autopep8==2.3.2
flake8==7.2.0
graphics.py==5.0.1.post1
mccabe==0.7.0
mypy==1.16.0
mypy_extensions==1.1.0
pathspec==0.12.1
pycodestyle==2.13.0
pyflakes==3.3.2
simple-term-menu==1.6.6
typing_extensions==4.14.0
